.section--img--container {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
}
.img--container {
	width: 20rem;
	height: 20rem;
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
	margin-bottom: 5rem;

	position: relative;
}
.img--container:nth-child(2) {
	grid-column: 2/3;
	grid-row: 1/3;
	height: 80%;
	justify-self: center;
	align-self: center;
}
.img {
	width: 20rem;
	height: 100%;
}
